[submodule "QUIN/vendor/spdlog"]
	path = QUIN/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "QUIN/vendor/GLFW"]
	path = QUIN/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "QUIN/vendor/stb"]
	path = QUIN/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "QUIN/vendor/json"]
	path = QUIN/vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "QUIN/vendor/MathEval"]
	path = QUIN/vendor/MathEval
	url = https://github.com/daniel10015/Math-Expression-Evaluator.git
[submodule "QUIN/vendor/VulkanMemoryAllocator"]
	path = QUIN/vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "QUIN/vendor/tinygltf"]
	path = QUIN/vendor/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "QUIN/vendor/imgui"]
	path = QUIN/vendor/imgui
	url = https://github.com/daniel10015/imgui.git
	branch = docking
